<ion-view view-title="关于我们">
	<ion-nav-buttons side="left">
    	<a href="/#/tab/user" class="button button-icon icon ion-chevron-left"></a>
	</ion-nav-buttons>
	<ion-content has-subheader="false">
		<div class="card">
			<div class="item item-text-wrap">
				<label class="aboutWords">
				关于我的话，我只是一个前端的小攻城狮，什么都不懂，还在成长中，这个app是我写来锻炼自己的，请各位大神指正批评，如果有什么问题，可以去我的主页(http://www.computershu.com/Lokya/index.html)Lokya的个人网站访问看看，上面有我的github地址和coding地址，可以联系到我，同时也能下载到源码！Lokya在这里再次感谢您的使用！！！
				</label>
			</div>
		</div>		
	</ion-content>
</ion-view>