<ion-view view-title="卡兜儿">
	<ion-content has-subheader="false">
		<div class="row" style="margin-top: 30px;">
			<div class="col cardPart">
				<a href="#/cardDetail?id=Birthday">
					<div class="textAlign">
						<img src="img/iconCards/iconcard1.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">生日贺卡</label>
					</div>
				</a>				
			</div>
			<div class="col cardPart">
				<a href="#/cardDetail?id=DragonBoatFestival">
					<div class="textAlign">
						<img src="img/iconCards/iconcard2.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">端午节贺卡</label>
					</div>
				</a>				
			</div>
			<div class="col cardPart">
				<a href="#/cardDetail?id=NewYear">
					<div class="textAlign">
						<img src="img/iconCards/iconcard3.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">春节贺卡</label>
					</div>
				</a>				
			</div>
		</div>
		<div class="row">
			<div class="col cardPart">
				<a href="#/cardDetail?id=MidAutumnFestival">
					<div class="textAlign">
						<img src="img/iconCards/iconcard4.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">中秋贺卡</label>
					</div>
				</a>				
			</div>
			<div class="col cardPart">
				<a href="#">
					<div class="textAlign">
						<img src="img/iconCards/iconcard5.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">元宵贺卡</label>
					</div>
				</a>				
			</div>
			<div class="col cardPart">
				<a href="#">
					<div class="textAlign">
						<img src="img/iconCards/iconcard6.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">日常问候</label>
					</div>
				</a>				
			</div>
		</div>
		<div class="row">
			<div class="col cardPart">
				<a href="#">
					<div class="textAlign">
						<img src="img/iconCards/iconcard7.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">母情节</label>
					</div>
				</a>					
			</div>
			<div class="col cardPart">
				<a href="#">
					<div class="textAlign">
						<img src="img/iconCards/iconcard8.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">父亲节</label>
					</div>
				</a>				
			</div>
			<div class="col cardPart">
				<a href="#">
					<div class="textAlign">
						<img src="img/iconCards/iconcard9.jpg" alt="">
					</div>
					<div class="textAlign">
						<label for="">教师节</label>
					</div>
				</a>				
			</div>
		</div>
	</ion-content>
</ion-view>
