<ion-view view-title="我的消息">
	<ion-nav-buttons side="left">
    	<a href="/#/messageList" class="button button-icon icon ion-chevron-left"></a>
	</ion-nav-buttons>
	<ion-content has-subheader="false">
		<div class="list card">
			<div class="item item-avatar">
				<img class="full-image" src="img/app.png">
				<h2>卡兜儿app欢迎您的使用。</h2>
				<p>2016-8-30 12:00:00</p>
			</div>
			<div class="item item-body">
				<p>
			       首先感谢您的使用卡兜儿app，这个app是我自己写着玩的，用ionic,phonegap,angularjs,jquery,部分插件实现的，您可以使用其进行二次甚至多次开发，而且卡兜儿是我自己起的名字，和市面上的卡兜app不是一个东西，而且我也没有注册这个名字，如果有影响我可以换成任何名字。再次感谢您的支持！
			    </p>
			</div>
		</div>
	</ion-content>
</ion-view>