<ion-view view-title="意见反馈">
	<ion-nav-buttons side="left">
    	<a href="/#/tab/user" class="button button-icon icon ion-chevron-left"></a>
	</ion-nav-buttons>
	<ion-content has-subheader="false">
		<div class="list list-inset">
			<label for="" class="item item-input item-stacked-label">
				<textarea style="resize:none;" maxlength="100" rows="10" cols="20" placeholder="请填写您的意见，我们会尽快处理的！"></textarea>
			</label>
		</div>
		<div class="row">
			<button class="button button-full button-calm">提交意见</button>
		</div>
		<div class="row">
			<label class="problemWords">如果有更多问题，您可以拨打客服电话：(1234567890)</label>
		</div>
	</ion-content>
</ion-view>