<ion-tabs class="tabs-positive tabs-icon-top">
	<ion-tab title="首页" href="#/tab/home" icon="ion-ios-photos-outline">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="卡兜儿" href="#/tab/cards" icon="ion-card">
		<ion-nav-view name="cards-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="专题" href="#/tab/festival" icon="ion-clock">
		<ion-nav-view name="festival-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" href="#/tab/user" icon="ion-happy-outline">
		<ion-nav-view name="user-tab"></ion-nav-view>
	</ion-tab>
	<ion-nav-view name="login-tab"></ion-nav-view>
</ion-tabs>